$color-primary: #4E60FF;
$color-primary-light: #F3F4FF;
$color-secondary: #FD6D22;
$color-secondary-light: #FFF3ED;
$color-white: #fff;
$color-dark: #2B2B43;
$color-grey: #83859C;
$color-grey-light: #C7C8D2;
$color-grey-dark: #545563;
$color-grey-lightest: #EDEEF2;
$color-error: #FF5C60;
$color-error-light: #ffdfe0;
$color-yellow: #FFDC9F;
$color-yellow-light: #ffecca;
$color-yellow-dark: #FFA609;
$color-green: #155724;
$color-green-light: #d4edda;